<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.devfun.setting_boot.dao.StatisticMapper">
 
 	<!-- (테스트) 해당 년도의 로그인수 -->
    <select id="selectYearLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistic.requestinfo info
        where left(info.createDate, 2) = #{year};
    </select>
    
    <!-- 1. 월별 전체 접속자수 -->
    <select id="selectMonthAccess" parameterType="string" resultType="hashMap">
    	SELECT count(*) AS totCnt
		FROM statistic.requestinfo AS info
		WHERE left(info.createDate, 4) = #{month};
    </select>
    
    <!-- 2. 일별 전체 접속자수 -->
	<select id="selectDayAccess" parameterType="string" resultType="hashMap">
		SELECT count(*) AS totCnt
		FROM statistic.requestinfo AS info
		WHERE left(info.createDate, 6) = #{date};
	</select>
	
	<!-- 3. 부서별 월별 로그인수 -->
	<select id="selectMonthLoginByDept" parameterType="string" resultType="hashMap">
		SELECT count(*) AS logCnt
		FROM statistic.requestinfo AS info LEFT OUTER JOIN statistic.user user
		ON info.userID = user.userID
		WHERE info.requestCode = 'L' AND user.HR_ORGAN = #{dept}  AND left(info.createDate,4) = #{month};
	</select>
	
	<!-- 4. 평균 하루 로그인수 -->
	<select id="selectDayAverage" parameterType="string" resultType="hashMap">
	SELECT round(sum(sub.logCnt)/(datediff(DATE_FORMAT(#{endDate},'%Y-%m-%d'), DATE_FORMAT(#{startDate},'%Y-%m-%d'))+1),3) AS logAvg
		FROM(
			SELECT left(info.createDate,6) AS logDate, count(*) AS logCnt
        	FROM statistic.requestinfo info
        	WHERE info.requestCode = 'L' AND left(info.createDate,6) BETWEEN #{startDate} AND #{endDate}
        group by left(info.createDate,6)
		) AS sub;
	</select>
	
	<!-- 5-1. 주말을 제외한 날짜,로그인수 -->
	<select id="selectMonthLogin" parameterType="string" resultType="com.devfun.setting_boot.dto.LoginDateListDto"> <!-- com.devfun.setting_boot.dto.LoginDateListDto -->
		SELECT substr(info.createDate,5,2) AS logDate, count(left(info.createDate, 6)) AS logCnt
		FROM statistic.requestinfo info
		WHERE info.requestCode = 'L' AND left(info.createDate, 4) = #{month} AND dayofweek(left(info.createDate, 6)) between 2 and 6
		GROUP BY logDate
		ORDER BY logDate;
	</select>
	
	<!-- 5-2. 월별 공휴일 날짜 -->
	<select id="selectHoliday" parameterType="string" resultType="string">
		SELECT day(h.date) AS dayOfHoliday
		FROM statistic.holidays h
		WHERE right(year(h.date),2)=#{year} AND month(h.date)=#{month};
	</select>
	    
</mapper>